
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img class="center-img" src="assets/imgs/telainicial.png"></ion-img>
    <ion-grid>
      <ion-row justify-content-center align-items-center >
        <ion-col size="12" size-md="12" size-lg="12" >
          <ion-button [routerLink]="['/signup']" class="button-responsive" expand="block" style="--background:#D0FD3E;">Nova conta </ion-button>
          <ion-button [routerLink]="['/login']" class="button-responsive" expand="block" style="--background:#FFFFFF;">Entrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
  
  
</ion-content>
