
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Para recuperar sua senha
      <p class="subTitle">Informe o E-mail cadastrado!</p>
    </ion-title>
  </div>
  <form class="formStyle">
    <ion-item>
      <ion-input placeholder="E-mail" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
  </form>
  <ion-grid>
    <ion-row justify-content-center align-items-center >
      <ion-col size="12" size-md="12" size-lg="12" >
        <ion-button [routerLink]="['/landing']"class="button-responsive" expand="block" style="--background:#D0FD3E;">Recuperar Senha</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
