ion-item{
    --background:#f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;  
}

.formStyle{
    padding-inline:2rem;
}
.header{
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    .title{
        font-size: 1.2rem;
        font-weight: 555;
        position:static;
        
    }
    .subTitle{
        color:gray;
        font-size:0.9rem;
    }
    .p{font-size: 0.9rem;

    }
    
}

.button-responsive{
    --border-radius: 60px;
    --padding-bottom:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-inline: 80px;
    padding-top: 10rem;
    color:#1C1C1E;   
}
.input{
    font-size: 300;
}